<%- include('partials/header') %>



    <% friends.forEach((friend)=>{ %>
    <div class="ui card">
        <div class="image">
            <img src="<%= friend.image %>>">
        </div>
        <div class="content">
            <a class="header"><%= friend.firstName %> "<%= friend.nickName %>" <%= friend.lastName %></a>
            <div class="meta">
                <span class="date">Entered: <% if(null){ %>
                    no dob entered
                <% }else{ %>
                    <%= friend.created.toDateString() %>
                <% } %></span>
            </div>
            <div class="meta">
                <span class="date">Entered: <%= friend.created.toDateString() %></span>
            </div>
            <div class="meta">
                <a class="header">Best Friend Y/N: <% if(friend.bestFriend == true){ %>
                    Yes
                    <% } else{ %>
                        No
                    <% } %>
                    </a>
            </div>
        </div>
        <div class="extra content">
            <a class="ui button primary inverted" href="/friends/<%= friend._id %>"><i class="address book icon"></i></a>
        </div>
    </div>
    <% }) %>


<%- include('partials/footer') %>