<%- include('partials/header') %>
<h1>the damn show page</h1>

<div class="ui card">
    <div class="image">
        <img src="<%= friend.image %>>">
    </div>
    <div class="content">
        <a class="header"><%= friend.firstName %> "<%= friend.nickName %>" <%= friend.lastName %></a>
        <div class="meta">
            <span class="date">Entered: <% if(null){ %>
                no dob entered
            <% }else{ %>
                <%= friend.created.toDateString() %>
            <% } %></span>
        </div>
        <div class="meta">
            <span class="date">Entered: <% if(null){ %>
                no dob entered
            <% }else{ %>
                <%= friend.created.toDateString() %>
            <% } %></span>
        </div>
        <div class="meta">
            <a class="header">Best Friend Y/N: <% if(friend.bestFriend == true){ %>
                Yes
                <% } else{ %>
                    No
                <% } %>
                </a>
        </div>
    </div>
    <div class="extra content">
        <a class="ui button yellow inverted" href="/friends/<%= friend.id %>/edit"><i class="edit icon"></i></a>
        <form method="POST" action="/friends/<%= friend.id %>?_method=DELETE">
            <button class="ui button red inverted"><i class="trash icon"></i></button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>